.orgTitleLabel {
    alignment: center;
    color: white;
    font-size: 24px;
}

.orgSubTitleLabel {
    color: white;
}


.selectTitle {
    margin-left: 30px;
}

.registrationTab {
    text-align-all: center;
    allignment: center
}

/*.registrationTab {*/
    /*text-align: center;*/
    /*width: 100%;*/
/*}*/

/*.orgTabTitle {*/
    /*float:none; !*to make sure there is no active float*!*/
    /*display: inline-block*/
/*}*/

/*#registrationTab {*/
    /*float:left;*/
    /*width:100%;*/
    /*background:#fff;*/
    /*border-bottom:4px solid #000;*/
    /*overflow:hidden;*/
    /*position:relative;*/
/*}*/
/*#registrationTab ul {*/
    /*clear:left;*/
    /*float:left;*/
    /*list-style:none;*/
    /*margin:0;*/
    /*padding:0;*/
    /*position:relative;*/
    /*left:50%;*/
    /*text-align:center;*/
/*}*/
/*#registrationTab ul li {*/
    /*display:block;*/
    /*float:left;*/
    /*list-style:none;*/
    /*margin:0;*/
    /*padding:0;*/
    /*position:relative;*/
    /*right:50%;*/
/*}*/
/*#registrationTab ul li a {*/
    /*display:block;*/
    /*margin:0 0 0 1px;*/
    /*padding:3px 10px;*/
    /*background:#ddd;*/
    /*color:#000;*/
    /*text-decoration:none;*/
    /*line-height:1.3em;*/
/*}*/
/*#registrationTab ul li a:hover {*/
    /*background:#369;*/
    /*color:#fff;*/
/*}*/
/*#registrationTab ul li a.active,*/
/*#registrationTab ul li a.active:hover {*/
    /*color:#fff;*/
    /*background:#000;*/
    /*font-weight:bold;*/
/*}*/